<div class="container-fluid">
    <div class="row">
        <div class="col-6 card">
            <img src="/assets/Images/registationPage.jpg" alt="">
        </div>
        <div class="col-6 card">
          <div class="cardDiv">
            <p class="registration">Registration Info</p>
            <input type="text" class="form-control" placeholder="Fullname"/>
            <input type="text" class="form-control" placeholder="Firstname"/>
            <input type="text" class="form-control" placeholder="Lastname"/>
            <input type="text" class="form-control" placeholder="Class"/>
            <select class="form-select form-control form-selects" aria-label="Default select example">
                <option selected>Select section</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
              </select>
             <!-- Radio buttons  -->
             <div class="row radio-options">
                <div class="col-3"> <label>Gender</label> </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Male
                        </label>
                      </div>
                </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                         Female
                        </label>
                      </div>
                </div>
             </div>  
             <!-- Text boxes  -->
            <input type="text" class="form-control" placeholder="Username"/>
            <input type="password" class="form-control" placeholder="Password"/>
            <input type="password" class="form-control" placeholder="Confirm Password"/>
            <input type="text" class="form-control" placeholder="Present Address"/>
            <input type="text" class="form-control" placeholder="Parmenent Address"/>
            <!-- Section dropdown -->
            <select class="form-select form-control form-selects" aria-label="Default select example">
                <option selected>Select blood group</option>
                <option value="1">A+</option>
                <option value="1">A-</option>
                <option value="2">B+</option>
                <option value="2">B-</option>
                <option value="3">O+</option>
                <option value="3">O-</option>
                <option value="3">AB+</option>
                <option value="3">AB-</option>
              </select>
              <!-- Text box -->
            <input type="text" class="form-control" placeholder="Mobile Number"/>
            <!-- Radio buttons  -->
            <div class="row radio-options">
                <div class="col-3"> <label>Martial Status</label> </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Married
                        </label>
                      </div>
                </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                         UnMarried
                        </label>
                      </div>
                </div>
             </div> 
              <!-- Section dropdown -->
            <select class="form-select form-control form-selects" aria-label="Default select example">
                <option selected>Select Occupation Role</option>
                <option value="1">A+</option>
                <option value="1">A-</option>
                <option value="2">B+</option>
                <option value="2">B-</option>
                <option value="3">O+</option>
                <option value="3">O-</option>
                <option value="3">AB+</option>
                <option value="3">AB-</option>
              </select>
            </div>
        </div>
    </div>
</div>